h1,
h2,
h3,
h4
p {
    margin: 0;
    font-size: inherit;
}

a {
    font-style: normal;
    text-decoration: none;
    color: inherit;
}


ul, 
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font: inherit;
    padding: 0;
    border: none;
    cursor: pointer;
}