// utils styles
@import './utils/variables';

// base styles
@import './base/common';
@import './base/reset';

// components styles
@import './components/container';
@import './components/section';
@import './components/header';
@import './components/about';
@import './components/blog';
@import './components/delivery';
@import './components/hero';
@import './components/mobile-menu';
@import './components/footer';
@import './components/modal-contact-us';
@import './components/modal-received';
@import './components/modal-subscribe';
@import './components/store';
