body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-size: inherit;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 24px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.delivery__title {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 24px;
  line-height: 1.2083333333;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.delivery__title::after {
  border: 1px solid #000000;
  content: "";
  height: 1px;
  width: auto;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .delivery__title {
    font-size: 44px;
    line-height: 1.2272727273;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery__title {
    margin-bottom: 80px;
    font-size: 44px;
    line-height: 1.2272727273;
  }
}

.delivery-box {
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .delivery-box {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery-box {
    margin-bottom: 60px;
    margin-left: 72px;
  }
}
.delivery-box__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  font-family: "Montserrat", sans-serif;
}
.delivery-box__item:not(:last-child) {
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .delivery-box__item {
    font-size: 24px;
    line-height: 1.2083333333;
  }
  .delivery-box__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery-box__item {
    font-size: 32px;
    line-height: 1.21875;
  }
  .delivery-box__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.circle-box {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  margin-right: 8px;
  margin-top: 5px;
  margin-bottom: 6px;
  flex-shrink: 0;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .circle-box {
    width: 64px;
    height: 64px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .circle-box {
    width: 64px;
    height: 64px;
    margin-right: 56px;
  }
}

.circle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding: 8px 12px;
}
@media screen and (min-width: 768px) {
  .circle {
    padding: 16px 26px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .circle {
    font-size: 26px;
    padding: 16px 24px;
  }
}

.circle-text {
  width: 12px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .circle-text {
    width: 15px;
    height: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .circle-text {
    width: 15px;
    height: 32px;
  }
}

.delivery-box__item:hover .circle-box,
.delivery-box__item:focus .circle-box {
  border-color: #e86f54;
}/*# sourceMappingURL=main.css.map */