//background color
$main-background-color: #ffffff;
$footer-background-color: #000000;
$mobile-modal-menu-bg: #e86f54;
$line: 1px solid #000000;

//lodo
$lodo: #0e0e0e;
$logo-white: #ffffff;

//text/svg color
$black: #000000;
$white: #ffffff;
$phone-svg: #0e0e0e;
$form-text-color: #5c5c5c;

//buttons
$border-radius-form: 8px;
$border-radius-page: 38px;

$button-color-default: #e86f54;
$button-color-hover: #e25b41;
$button-color-focus: #fa6f54;
$button-color-focus-box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);

//animation
$main-duration: 250ms;
