.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__icon {
  width: 45px;
  height: 35px;
  // !tablet screen
  @media screen and (min-width: 768px) {
    width: 72px;
    height: 57px;
  }

  // !desktop screen
  @media screen and (min-width: 1280px) {
    width: 72px;
    height: 57px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.nav_list {
  display: flex;
}

.nav_list__item {
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .nav_list__item:not(:last-child) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .nav_list__item:not(:last-child) {
    margin-right: 48px;
  }
}

.header__phone-icon {
  width: 22px;
  height: 22px;
  // !tablet screen
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }

  // !desktop screen
  @media screen and (min-width: 1280px) {
    width: 28px;
    height: 28px;
  }
}

.header__menu-btn {
  width: 24px;
  height: 24px;
  // !tablet screen
  @media screen and (min-width: 768px) {
    display: none;
  }

  // !desktop screen
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
