.menu-container {
  background-color: $mobile-modal-menu-bg;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &__icon {
    fill: $white;
  }
}

.mobile-menu {
  &__item {
    color: $white;
  }
}
