<section class="about section">
  <div class="container about__container">
    <h2 class="about__title">ABOUT</h2>
    <div class="about__content">
      <p class="about__text">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ../images/about/desktop/desktop__flowers@1x.png 1x,
            ../images/about/desktop/desktop__flowers@2x.png 2x
          "
          type="image/png" />
        <source
          media="(min-width: 768px)"
          srcset="
            ../images/about/tablet/tablet__flowers@1x.png 1x,
            ../images/about/tablet/tablet__flowers@2x.png 2x
          "
          type="image/png" />
        <source
          media="(max-width: 767px)"
          srcset="
            ../images/about/mobile/mobile__flowers@1x.png 1x,
            ../images/about/mobile/mobile__flowers@2x.png 2x
          "
          type="image/png" />
        <img
          src="../images/about/desktop/desktop__flowers@1x.png"
          alt="flowers"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
