
<section>
  <h2 class="blog__title">BLOG</h2>
  <ul>
    <li>
      <picture>
        <source
          srcset="
          ../images/blog/additional/desktop/desktop__flowers-1@1x.jpg 1x,
          ../images/blog/additional/desktop/desktop__flowers-1@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
          ../images/blog/additional/tablet/tablet__flowers-1@1x.jpg 1x,
          ../images/blog/additional/tablet/tablet__flowers-1@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
          ../images/blog/additional/mobile/mobile__flowers-1@1x.jpg 1x,
          ../images/blog/additional/mobile/mobile__flowers-1@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="store__image"
          src="../images/blog/additional/mobile/mobile__flowers-1@1x.jpg"
          alt="white flowers"
          loading="lazy"
        />
      </picture>
    </li>
    <li>
         <picture>
        <source
          srcset="
            ../images/blog/additional/desktop/desktop__flowers-2@1x.jpg 1x,
          ../images/blog/additional/desktop/desktop__flowers-2@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../images/blog/additional/tablet/tablet__flowers-2@1x.jpg 1x,
          ../images/blog/additional/tablet/tablet__flowers-2@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../images/blog/additional/mobile/mobile__flowers-2@1x.jpg 1x,
          ../images/blog/additional/mobile/mobile__flowers-2@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="store__image"
          src="../images/blog/additional/mobile/mobile__flowers-2@1x.jpg"
          alt="different flowers"
          loading="lazy"
        />
      </picture>
    </li>
    <li>
        </picture>
    </li>
    <li>
         <picture>
        <source
          srcset="
            ../images/blog/additional/desktop/desktop__flowers-3@1x.jpg 1x,
          ../images/blog/additional/desktop/desktop__flowers-3@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../images/blog/additional/tablet/tablet__flowers-3@1x.jpg 1x,
          ../images/blog/additional/tablet/tablet__flowers-3@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../images/blog/additional/mobile/mobile__flowers-3@1x.jpg 1x,
          ../images/blog/additional/mobile/mobile__flowers-3@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="store__image"
          src="../images/blog/additional/mobile/mobile__flowers-3@1x.jpg"
          alt="orange flowers"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
  <strong class="blog__text">Follow to our newsletter</strong>
  <button type="submit" class="blog__button">Subscribe</button>
</section>