<section class="section">
  <div class="container delivery">
    <h1 class="delivery__title">DELIVERY</h1>

    <div class="delivery-box">
      <ul class="delivery-box__list">
        <li class="delivery-box__item">
          Choose your bouquet and make an order on website
        </li>
        <li class="delivery-box__item">
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </li>
        <li class="delivery-box__item">
          Wait for the delivery at the selected time or pick up the order from
          the store
        </li>
        <li class="delivery-box__item">Make someone happy or enjoy yourself</li>
      </ul>
    </div>

    <img
      srcset="../images/delivery/desktop/desktop__delivery-img@1x.jpg 1x ../images/delivery/desktop/desktop__delivery-img@2x.jpg 2x"
      src="../images/delivery/desktop/desktop__delivery-img@1x.jpg"
      alt="flowers for delivery"
      width="1280"
      height="391"
    />
  </div>
</section>
