<section class="section" id="delivery">
  <div class="container delivery">
    <h1 class="delivery__title">DELIVERY</h1>

    <div class="delivery-box">
      <ul class="delivery-box__list">
        <li class="delivery-box__item">
          <div class="circle-box">
            <div class="circle">
              <div class="circle-text circle-text__first">1</div>
            </div>
          </div>
          <p>Choose your bouquet and make an order on website</p>
        </li>
        <li class="delivery-box__item">
          <div class="circle-box">
            <div class="circle">
              <div class="circle-text">2</div>
            </div>
          </div>
          <p>
            Wait for the call to clarify the details of the order. You can pay
            online or to the courier
          </p>
        </li>
        <li class="delivery-box__item">
          <div class="circle-box">
            <div class="circle">
              <div class="circle-text">3</div>
            </div>
          </div>
          <p>
            Wait for the delivery at the selected time or pick up the order from
            the store
          </p>
        </li>
        <li class="delivery-box__item">
          <div class="circle-box">
            <div class="circle">
              <div class="circle-text">4</div>
            </div>
          </div>
          <p>Make someone happy or enjoy yourself</p>
        </li>
      </ul>
    </div>

    <img
      src="./images/delivery/desktop/desktop__delivery-img@1x.jpg"
      srcset="
        ./images/delivery/desktop/desktop__delivery-img@1x.jpg 1280w,
        ./images/delivery/desktop/desktop__delivery-img@2x.jpg 2560w,
        ./images/delivery/tablet/tablet__delivery-img@1x.jpg    768w,
        ./images/delivery/tablet/tablet__delivery-img@2x.jpg   1536w,
        ./images/delivery/mobile/mobile__delivery-img@1x.jpg    320w,
        ./images/delivery/mobile/mobile__delivery-img@2x.jpg    640w
      "
      sizes="(min-width: 1200px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px, 100vw"
      alt="flowers for delivery"
      width="1280"
      height="391"
    />
  </div>
</section>
