<section class="section">
  <div class="container delivery">
    <h1 class="delivery__title">DELIVERY</h1>

    <div class="delivery-box">
      <ul></ul>
      <ul class="delivery-box__list">
        <li class="delivery-box__item">
          <div class="delivery-box__numbers">
            <p class="delivery-box__nmb">1</p>
          </div>
          <div>Choose your bouquet and make an order on website</div>
        </li>
        <li class="delivery-box__item">
          <div class="delivery-box__numbers">
            <p class="delivery-box__nmb">2</p>
          </div>
          <div>
            Wait for the call to clarify the details of the order. You can pay
            online or to the courier
          </div>
        </li>
        <li class="delivery-box__item">
          <div class="delivery-box__numbers">
            <p class="delivery-box__nmb">3</p>
          </div>
          <div>
            Wait for the delivery at the selected time or pick up the order from
            the store
          </div>
        </li>
        <li class="delivery-box__item">
          <div class="delivery-box__numbers">
            <p class="delivery-box__nmb">4</p>
          </div>
          <div>Make someone happy or enjoy yourself</div>
        </li>
      </ul>
    </div>

    <img
      src="..\images\delivery\desktop\desktop__delivery-img@1x.jpg"
      srcset="
        ..\images\delivery\desktop\desktop__delivery-img@1x.jpg 1280w,
        ..\images\delivery\desktop\desktop__delivery-img@2x.jpg 2560w,
        ..\images\delivery\tablet\desktop__delivery-img@1x.jpg   768w,
        ..\images\delivery\tablet\desktop__delivery-img@2x.jpg  1536w,
        ..\images\delivery\mobile\desktop__delivery-img@1x.jpg   320w,
        ..\images\delivery\mobile\desktop__delivery-img@2x.jpg   640w
      "
      sizes="(min-width: 1200px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px, 100vw"
      alt="flowers for delivery"
      width="1280"
      height="391"
    />
  </div>
</section>
