<footer class="footer section">
  <div class="container">
    <!-- !FOOTER LOGO -->
    <a class="footer-logo" href="../index.html">
      <svg class="footer-logo__icon" class="" width="73" height="57">
        <use href="../images/symbol-defs.svg#logo"></use></svg
    ></a>

    <!-- !FOOTER NAVIGATION -->
    <div class="footer-nav">
      <h3 class="footer-nav__title">Navigation</h3>
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#">Anemone</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#">About us</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#">Store</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#">Delivery</a>
        </li>
      </ul>
    </div>

    <!-- !OPENING TIMES -->
    <div class="openings">
      <h3 class="openings__title">Openings times</h3>
      <p>Every day <time>9:00</time>-<time>20:00</time></p>
    </div>

    <!-- !CONTACTS -->
    <div class="address">
      <h3 class="address__title">Contacts</h3>
      <address class="">
        <ul class="address__list">
          <li class="address__item">
            <a class="address__link" href="tel:+380631234567"
              >+38 063 123 45 67</a
            >
          </li>
          <li class="address__item">
            <a class="address__link" href="mailto:anemonestudio@example.com"
              >anemonestudio@example.com</a
            >
          </li>
          <li class="address__item">
            <a class="address__link" href="#"
              >Reitarska Street, 11 Kyiv, Ukraine</a
            >
          </li>
        </ul>
      </address>
    </div>

    <!-- !SOCIALS -->
    <ul class="footer-socials">
      <li>
        <a href="https://fb.com">
          <svg class="footer-social__icon" class="" width="28" height="28">
            <use href="../images/symbol-defs.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://instagram.com">
          <svg class="footer-social__icon" class="" width="28" height="28">
            <use href="../images/symbol-defs.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
