<div class="container header__container">
  <a class="header__logo" href="">
    <svg class="" width="72" height="57">
      <use href="../images/symbol-defs.svg#logo"></use>
    </svg>
  </a>
  <div>
  <nav" class="header__nav">
    <ul class="nav_list">
      <li class="nav_list__item">
        <a class="nav_list__link" href="">Anemone</a>
      </li>
      <li class="nav_list__item">
        <a class="nav_list__link" href="">About us</a>
      </li>
      <li class="nav_list__item">
        <a class="nav_list__link" href="">Store</a>
      </li>
      <li class="nav_list__item">
        <a class="nav_list__link" href="">Delivery</a>
      </li>
      <li class="nav_list__item">
        <a class="nav_list__link" href="">Blog</a>
      </li>
    </ul>
  </nav>
</div>
<div class="">
  <a class="header__phone" href="">
    <svg class="header__icon" width="28" height="28">
      <use href="../images/symbol-defs.svg#tel"></use>
    </svg>
  </a>
</div>

