<div class="container header__container">
  <a class="header__logo logo" href="">
    <svg class="logo__icon" width="72" height="57">
      <use href="../images/symbol-defs.svg#logo"></use>
    </svg>
  </a>
  <div>
  <nav" class="header__nav">
    <ul class="nav_list">
      <li class="nav_list__item">
        <a class="nav_list__link" href="">Anemone</a>
      </li>
      <li class="nav_list__item">
        <a class="nav_list__link" href="">About us</a>
      </li>
      <li class="nav_list__item">
        <a class="nav_list__link" href="">Store</a>
      </li>
      <li class="nav_list__item">
        <a class="nav_list__link" href="">Delivery</a>
      </li>
      <li class="nav_list__item">
        <a class="nav_list__link" href="">Blog</a>
      </li>
    </ul>
  </nav>
  </div>
<div>
<div class="header__btns">
  <a class="header__phone" href="">
    <svg class="header__phone-icon" width="28" height="28">
      <use href="../images/symbol-defs.svg#tel"></use>
    </svg>
  </a>

  <button class="header__menu-btn js-open-menu">
          <svg class="header__menu-icon" width="24" height="24">
            <use href="../images/symbol-defs.svg#burger"></use>
          </svg>
        </button>
</div>
</div>
        
</div>

