<div class="backdrop is-hidden" data-modal>
  <div class="modal__subscribe">
    <div class="modal__subscribe__btn" data-modal-close>
      <svg class="modal__subscribe__close">
        <use href="./images/symbol-defs.svg#close"></use>
      </svg>
    </div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ../images/modal-subscribe/desktop/desktop__subscribe-img@1x.jpg 1x,
          ../images/modal-subscribe/desktop/desktop__subscribe-img@2x.jpg 2x
        "
        type="image/jpg" />
      <source
        media="(min-width: 768px)"
        srcset="
          ../images/modal-subscribe/tablet/tablet__subscribe-img@1x.jpg 1x,
          ../images/modal-subscribe/tablet/tablet__subscribe-img@2x.jpg 2x
        "
        type="image/jpg" />
      <source
        media="(max-width: 767px)"
        srcset="
          ../images/modal-subscribe/mobile/mobile__subscribe-img@1x.jpg 1x,
          ../images/modal-subscribe/mobile/mobile__subscribe-img@2x.jpg 2x
        "
        type="image/jpg" />
      <img
        src="../images/modal-subscribe/desktop/desktop__subscribe-img@1x.jpg"
        alt="flowers"
        loading="lazy"
    /></picture>
    <div class="modal__subscribe__form">
      <strong class="modal__subscribe__title">Follow to our newsletter</strong>
      <p class="modal__subscribe__text">
        Be the first to get exclusive offers and the latest news on our product
        directly in your box.
      </p>
      <label class="modal__subscribe__label"
        >Email<input
          type="email"
          placeholder="Your email"
          class="modal__subscribe__input"
      /></label>
      <button type="submit" class="modal__subscribe__button">Subscribe</button>
    </div>
  </div>
</div>
