<button type="button" data-modal-open>Now shop</button>

<div class="backdrop is-hidden" data-modal>
  <div class="modal-contact">
    <!-- !BUTTON CLOSE -->

    <button
      class="modal-btn-close--contact"
      type="button"
      aria-label="close window"
      data-modal-close
    >
      <svg class="modal-contact__icon-close">
        <use href="./images/symbol-defs.svg#close"></use>
      </svg>
    </button>

    <!-- !TITLE+PARAGRAPH -->

    <h2 class="modal-contact__title">Contact us</h2>
    <p class="modal-contact__text">
      If you have any additional questions or you want to clarify something
      before you make an order please fill in your contact details. We will call
      you back.
    </p>

    <!-- !FORM -->
    <form name="modal-form" class="modal-contact__form">
      <!-- <div class="modal-contact__form-wrapper"> -->
      <label class="modal-contact__input-title" for="user-name"> Name</label>
      <input
        class="modal-contact__input-field"
        type="text"
        name="user_name"
        id="user-name"
        minlength="2"
        required
        placeholder="Your name"
        pattern="[A-Za-z]"
      />

      <label class="modal-contact__input-title" for="user-email"> Email</label>
      <input
        class="modal-contact__input-field modal-contact__input-field--bottom"
        type="email"
        name="user_email"
        id="user-email"
        minlength="11"
        required
        placeholder="Your email"
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
      />
      <!-- </div> -->

      <!-- !BUTTON CLOSE/OPEN THANK-YOU -->
      <button
        class="btn-contact-submit"
        type="submit"
        data-modal-close
        data-modal-open-received
        aria-expanded="false"
      >
        Send
      </button>
    </form>
  </div>
</div>
