<section class="store" id="Store">
  <div class="container">
    <h2 class="store__title">STORE</h2>
    <div class="store__container">
      <ul class="store__list">
        <li class="store__item">
          <picture>
            <source
              srcset="
                ./images/store/desktop/tablet__bouquet-1@1x.jpg 1x,
                ./images/store/desktop/tablet__bouquet-1@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/store/tablet/tablet__bouquet-1@1x.jpg 1x,
                ./images/store/tablet/tablet__bouquet-1@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />

            <img
              class="store__image"
              src="./images/store/tablet/tablet__bouquet-1@1x.jpg"
              alt="compliments"
              loading="lazy"
            />
          </picture>
          <h3 class="store__text">compliments</h3>
          <p class="store__price">from &#36;15</p>
        </li>
        <li class="store__item">
          <picture>
            <source
              srcset="
                ./images/store/desktop/tablet__bouquet-2@1x.jpg 1x,
                ./images/store/desktop/tablet__bouquet-2@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/store/tablet/tablet__bouquet-2@1x.jpg 1x,
                ./images/store/tablet/tablet__bouquet-2@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              class="store__image"
              src="./images/store/tablet/tablet__bouquet-2@1x.jpg"
              alt="bouquets size S"
              loading="lazy"
            />
          </picture>
          <h3 class="store__text">bouquets size S</h3>
          <p class="store__price">from &#36;25</p>
        </li>
        <li class="store__item">
          <picture>
            <source
              srcset="
                ./images/store/desktop/tablet__bouquet-3@1x.jpg 1x,
                ./images/store/desktop/tablet__bouquet-3@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/store/tablet/tablet__bouquet-3@1x.jpg 1x,
                ./images/store/tablet/tablet__bouquet-3@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              class="store__image"
              src="./images/store/tablet/tablet__bouquet-3@1x.jpg"
              alt="bouquets size M"
              loading="lazy"
            />
          </picture>
          <h3 class="store__text">bouquets size M</h3>
          <p class="store__price">from &#36;45</p>
        </li>
        <li class="store__item">
          <picture>
            <source
              srcset="
                ./images/store/desktop/tablet__bouquet-4@1x.jpg 1x,
                ./images/store/desktop/tablet__bouquet-4@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/store/tablet/tablet__bouquet-4@1x.jpg 1x,
                ./images/store/tablet/tablet__bouquet-4@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              class="store__image"
              src="./images/store/tablet/tablet__bouquet-4@1x.jpg"
              alt="bouquets size L"
              loading="lazy"
            />
          </picture>
          <h3 class="store__text">bouquets size L</h3>
          <p class="store__price">from &#36;60</p>
        </li>
      </ul>
      <button type="button" class="store__button">Order flowers</button>
    </div>
  </div>
</section>
