@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Medium.woff) format("woff") font-weight-500, url(../fonts/Inter-Bold.woff) format("woff") font-weight-700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff) format("woff") font-weight-400, url(../fonts/Inter-Medium.woff) format("woff") font-weight-500, url(../fonts/Montserrat-SemiBold.woff) format("woff") font-weight-600, url(../fonts/Inter-Bold.woff) format("woff") font-weight-700;
}
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4 p {
  margin: 0;
  font-size: inherit;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 24px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 32px 14px 32px 16px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 40px 54px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 72px 48px 72px 24px;
  }
}

.footer-container {
  margin-right: 0;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: start;
    gap: 44px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    width: 1280px;
    justify-content: space-between;
    gap: 96px;
  }
}

.footer-container__wrapper-up {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .footer-container__wrapper-up {
    gap: 44px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container__wrapper-up {
    gap: 96px;
    margin-right: 0;
    margin-bottom: 0px;
  }
}

.footer-container__wrapper-down {
  display: flex;
  gap: 20px;
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .footer-container__wrapper-down {
    gap: 116px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container__wrapper-down {
    gap: 208px;
  }
}

.footer-nav,
.openings,
.address,
.footer-socials {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767.98px) {
  .footer-nav,
  .openings,
  .address,
  .footer-socials {
    flex-basis: calc((100% - 20px) / 2);
  }
}

.footer-socials__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .footer-socials__list {
    gap: 20px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .footer-socials__list {
    gap: 20px;
    flex-direction: column;
  }
}

.footer-logo {
  display: none;
}
@media screen and (min-width: 1280px) {
  .footer-logo {
    display: block;
    margin-right: 114px;
  }
}

.footer-logo__icon {
  fill: #ffffff;
}

.footer-nav__title,
.address__title,
.openings__title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2222222222;
  margin-bottom: 18px;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .footer-nav__title,
  .address__title,
  .openings__title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.footer--text {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2142857143;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer--text {
    font-size: 16px;
    line-height: 1.1875;
  }
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 12px;
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-socials__icon {
  fill: #ffffff;
}

.wrap--mail {
  display: block;
}
@media screen and (min-width: 768px) {
  .wrap--mail {
    display: inline;
  }
}/*# sourceMappingURL=main.css.map */