.blog__title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    font-size: 44px;
    line-height: calc(54 / 44);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 122px;
  }
}

.blog__text {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 48px;
  }
}

.blog__button {
  display: inline-block;
  color: $white;
  background-color: $button-color-default;
  border-radius: 38px;

  padding: 8px 39.5px;

  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding: 20px 69.5px;

    font-size: 28px;
    line-height: calc(28 / 24);
  }
}

.blog__button:hover {
  background: $button-color-hover;
}

.blog__button:focus {
  background: $button-color-focus;
  box-shadow: $button-color-focus-box-shadow;
}
