.container {
  // !phone screen
  min-width: 320px;
  max-width: 480px;
  padding: 0 16px;
  margin: 0 auto;

  // !tablet screen
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 24px;
  }

  // !desktop screen
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 24px;
  }
}
