.delivery {
  @media screen and (min-width: 768) {
  }

  //desctop screen (>1200px)
  @media screen and (min-width: 1280) {
  }

  &__title {
    font-size: 44px;
    line-height: calc(54 / 44);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 80px;

    @media screen and (max-width: 767) {
      font-size: 24px;
      line-height: calc(29 / 24);
    }
  }
}

.delivery-box {
  margin-bottom: 60px;
  @media screen and (min-width: 768) {
  }

  //desctop screen (>1200px)
  @media screen and (min-width: 1280) {
  }
  &__list {
    @media screen and (min-width: 768) {
    }

    //desctop screen (>1200px)
    @media screen and (min-width: 1280) {
    }
    //list-style-type: decimal;
  }
  &__item {
    display: flex;
    align-items: center;

    //font-size: 14px;
    // line-height: calc(17 / 14);
    font-size: 32px;
    line-height: calc(39 / 32);
    font-family: 'Montserrat', sans-serif;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media screen and (min-width: 768) {
        font-size: 24px;
        line-height: calc(29 / 24);
      }

      //desctop screen (>1200px)
      @media screen and (min-width: 1280) {
      }
      font-weight: 500;
    }
  }
}

.delivery-box__numbers {
  height: 64px;
  width: 64px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 56px;
}
.delivery-box__nmb {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: calc(32 / 26);
}
