.header {
  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 9px;

    // !tablet screen
    @media screen and (min-width: 768px) {
      align-items: center;
      margin-top: 24px;
    }

    // !desktop screen
    @media screen and (min-width: 1280px) {
      align-items: center;
      margin-top: 28px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.logo {
  width: 45px;
  height: 35px;
  // !tablet screen
  @media screen and (min-width: 768px) {
    width: 72px;
    height: 57px;
  }

  // !desktop screen
  @media screen and (min-width: 1280px) {
    width: 72px;
    height: 57px;
  }

  &__icon {
    width: 45px;
    height: 35px;
    // !tablet screen
    @media screen and (min-width: 768px) {
      width: 72px;
      height: 57px;
    }

    // !desktop screen
    @media screen and (min-width: 1280px) {
      width: 72px;
      height: 57px;
    }
  }
}

.nav_list {
  display: flex;
  &__item {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .nav_list__item:not(:last-child) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .nav_list__item:not(:last-child) {
    margin-right: 48px;
  }
}

.btns {
  display: flex;
  align-items: baseline;
  padding-top: 0;

  &__phone-box {
    margin-right: 14px;
    text-align: center;
    display: flex;
  }

  &__phone {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  &__phone-icon {
    @media screen and (max-width: 767px) {
      display: block;
      width: 22px;
      height: 22px;
    }

    // !tablet screen
    @media screen and (min-width: 768px) {
      display: block;
      width: 24px;
      height: 24px;
    }

    // !desktop screen
    @media screen and (min-width: 1280px) {
      display: block;
      width: 28px;
      height: 28px;
    }
  }
}

.menu-box {
  height: 24px;

  &__menu-btn {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    // !tablet screen
    @media screen and (min-width: 768px) {
      display: none;
    }

    // !desktop screen
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__menu-icon {
    width: 24px;
    height: 24px;
  }
}
