.section {
  //phone screen(<768px)

  padding-top: 60px;

  padding-bottom: 60px;

  //tablet screen (>768px )

  @media screen and (min-width: 768px) {
    padding-top: 100px;

    padding-bottom: 100px;
  }

  //desctop screen (>1200px)

  @media screen and (min-width: 1280px) {
    padding-top: 100px;

    padding-bottom: 100px;
  }
}
