.store__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store__title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    font-size: 44px;
    line-height: calc(54 / 44);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }
}

.store__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    gap: 32px;
    margin-bottom: 60px;
  }
}

.store__image {
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.store__text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: calc(44 / 36);
    margin-bottom: 4px;
  }
}

.store__price {
  color: $black;
  opacity: 0.6;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(29 / 24);
  }

  @media screen and (min-width: 1280px) {
    font-size: 28px;
    line-height: calc(34 / 28);
  }
}

.store__button {
  display: inline-block;
  color: $white;
  background-color: $button-color-default;
  border-radius: 38px;

  padding: 10px 35px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding: 20px 43.5px;

    font-size: 28px;
    line-height: calc(28 / 24);
  }
}

.store__button:hover {
  background: $button-color-hover;
}

.store__button:focus {
  background: $button-color-focus;
  box-shadow: $button-color-focus-box-shadow;
}

.store__title {
  display: flex;
  align-items: center;
  gap: 14px;

  &::after {
    content: '';
    flex-grow: 1;
    border: $line;
  }
}

.store__item {
  width: calc((100% - 16px) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }
}
